<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <kirchbergerknorr translate="label">
            <label>kirchbergerknorr</label>
            <sort_order>1</sort_order>
        </kirchbergerknorr>
    </tabs>
    <sections>
        <kirchbergerknorr>
            <label>System</label>
            <tab>kirchbergerknorr</tab>
            <frontend_type>text</frontend_type>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <sort_order>1</sort_order>
            <groups>
                <rewrite_check>
                    <label>Rewrite Check</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <sort_order>2</sort_order>
                    <fields>
                        <active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <log translate="label">
                            <label>Activate Log</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </log>
                        <check_categories translate="label">
                            <label>Check Category URLs</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </check_categories>
                        <fix_categories translate="label">
                            <label>Fix missing Category URL rewrites</label>
                            <comment>If fixing is inactive, the output can be checked in the logfiles.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </fix_categories>
                        <ignore_categories translate="label">
                            <label>Ignore category ids</label>
                            <comment>
                                <![CDATA[Ignore these categories. Add comma separated ids.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ignore_categories>
                        <check_products translate="label">
                            <label>Check Product URLs</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </check_products>
                        <ignore_products translate="label">
                            <label>Ignore category ids</label>
                            <comment>
                                <![CDATA[Ignore these products. Add comma separated ids.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ignore_products>
                        <fix_products translate="label">
                            <label>Fix missing Product URL rewrites</label>
                            <comment>If fixing is inactive, the output can be checked in the logfiles.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </fix_products>
                        <cron translate="label">
                            <label>Check URLs Cron Expr</label>
                            <comment>
                                <![CDATA[For help in creating expressions check this <a href="http://www.openjs.com/scripts/jslibrary/demos/crontab.php" target="_blank">site</a>.]]>
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cron>
                    </fields>
                </rewrite_check>
            </groups>
        </kirchbergerknorr>
    </sections>
</config>